.node {
    width: 20px;
    height: 20px;
    border: 1px solid darkgray;
    margin: 2px;
}

.node-finish {
    background-color: red;
    border-color: brown;
}

.node-start {
    background-color: aquamarine;
    border-color: aqua;
}

.node-visited {
    background-color: black;
    border-color: black;
}

.node-wall {
    background-color: azure;
}

.node-shortest-path {
    background-color: yellow;
    border-color: darkgoldenrod;
}
